<a href="https://colab.research.google.com/github/ElvisNascimento/basico-de-python/blob/main/curso_basico_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Passo a passo de solução do desafio

In [31]:
#@title Default title text
# Logica de programação
#passo 0 - Entender o desafio 
#passo 1 - percorrer todos os arquivos da pasta base de dados
import os
import pandas as pd



lista_arquivo = os.listdir("/content/drive/MyDrive/Curso Python/Vendas")
display(lista_arquivo)

tabela_total = pd.DataFrame()

['Vendas - Recife.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - Recife.csv',
 'Vendas - Belo Horizonte.csv',
 'Vendas - Fortaleza.csv',
 'Vendas - Goiás.csv',
 'Devolucoes - São Paulo.csv',
 'Vendas - Salvador.csv',
 'Vendas - Curitiba.csv',
 'Devolucoes - Curitiba.csv',
 'Vendas - São Paulo.csv',
 'Devolucoes - Porto Alegre.csv',
 'Vendas - Porto Alegre.csv',
 'Devolucoes - Goiás.csv',
 'Devolucoes - Fortaleza.csv',
 'Devolucoes - Rio de Janeiro.csv']

In [32]:
#passo 2 - importar as bassse de dados de vendas
for arquivo in lista_arquivo:
  #se tem a palavra "Vendas" o nome do arquivo
  if "Vendas" in arquivo:
    # importar o arquivo
    tabela = pd.read_csv(f"/content/drive/MyDrive/Curso Python/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela)

In [30]:
#passo 3 - tratar /compilar as bases de dados
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,1,HL4379,Televisão,3,Renan,Nascimento,9/14/2018,Recife,2500,NaN
1,24,HL2714,Tablet,5,Carla,Zakhm,11/13/2018,Recife,1600,NaN
2,26,HL1918,iPhone,4,Bianca,Tatsch,10/10/2018,Recife,5300,NaN
3,35,HL1918,iPhone,3,Guido,Monteiro,4/18/2018,Recife,5300,NaN
4,44,HL4379,Televisão,1,Eduardo,Quindeler,7/20/2018,Recife,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
699,9947,HL1918,iPhone,2,Gabrielle,Vasconcelos,2/20/2018,Porto Alegre,5300,NaN
700,9980,HL1918,iPhone,5,João,Rodrigues,1/21/2018,Porto Alegre,5300,NaN
701,9983,HL2714,Tablet,5,Bianca,Tatsch,2/12/2018,Porto Alegre,1600,NaN
702,9993,HL1148,Câmera,4,Victor,Lira,7/26/2018,Porto Alegre,2100,NaN
703,9997,HL1918,iPhone,4,Norman,Jimbo,6/13/2018,Porto Alegre,5300,NaN

In [42]:
#passo 4 - calcular o produto mais vendido
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida",ascending = False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [50]:
#passo 5 - calcular o produto que mais faturou
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida']  * tabela_total['Preco Unitario']
tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento",ascending = False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [52]:
#passo 6 - calcular loja/cidade que mais vendeu (em faturamento)
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [62]:
# passo 7  criar um grafico/dashbord
import plotly.express as px

grafico = px.bar(tabela_lojas, x=tabela_lojas.index , y='Faturamento')
grafico.show()